.hero-section {
  text-align: center;
  background: linear-gradient(to bottom, #006494, #000000);
  padding: 20px;
  padding-top: 82px;
  color: white;
}

.title {
  font-size: 3.5em;
  margin-bottom: 0.5em;
  color: #00a6fb;
}

.subtitle {
  padding-top: 25px;
  font-size: 2.0em;
  margin-bottom: 2em;
  color: rgb(238, 232, 232);
}

.description {
  margin-bottom: 1em;
}

.content-types {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 buttons per row */
  gap: 10px;
  justify-content: center;
  margin-bottom: 2em;
  margin: 20px auto;
  max-width: 1200px; /* Ensures the grid container doesn't get too wide */
}

.content-button {
  background-color: transparent;
  border: 1px solid #505050;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%; /* Ensures the button fills the grid cell */
  height: 40px; /* Fixed height */
}

.content-button:hover {
  background-color: #5274e7;
}

.demo-button {
  background-color: #8136b7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  width: 150px; /* Fixed width */
  height: 50px; /* Fixed height */
  margin-top: 20px;
}

.demo-button:hover {
  background-color: #5a009d;
}

/* Media Queries */
@media (max-width: 1200px) {
  .title {
    font-size: 2.5em;
  }
  .content-types {
    grid-template-columns: repeat(4, 1fr); /* 4 buttons per row */
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.2em;
  }
  .content-types {
    grid-template-columns: repeat(2, 1fr); /* 2 buttons per row */
  }
  .content-button {
    height: 35px; /* Adjusted fixed height */
    padding: 10px;
  }
  .demo-button {
    height: 45px; /* Adjusted fixed height */
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5em;
  }
  .subtitle {
    font-size: 1em;
  }
  .content-types {
    grid-template-columns: 1fr; /* 1 button per row */
  }
  .content-button {
    height: 30px; /* Adjusted fixed height */
    padding: 8px;
  }
  .demo-button {
    height: 40px; /* Adjusted fixed height */
    padding: 8px 16px;
  }
}
