/* services.css */

.services-container {
  padding: 2rem 2rem; /* Maintain left and right padding */
  text-align: center;
  margin: 3rem auto;
  box-sizing: border-box;
}
.services-container h3 {
  color: #ffffff; /* Default color */
}

.services-section {
  margin-bottom: 6em;
}

.service-boxes {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of boxes */
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 300px; /* Fixed width */
  height: auto; /* Dynamic height */
  padding: 2rem; /* General padding */
  border-radius: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease, opacity 0.5s ease, transform 0.5s ease;
  border: 1px solid white;
  margin-bottom: 1rem;
  box-sizing: border-box;
  color: white;
  opacity: 0;
  transform: translateY(50px);
}

.service-box-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-box h4 {
  margin: 0 0 0.5rem 0.5rem; /* Margin to the right of the image */
  text-align: left;
}

.service-box p {
  margin: 0.5rem 0 0 0.5rem; /* Margin below the heading */
  text-align: left;
}

/* Default colors */
.service-box.blue {
  background-color: #1a1a1e;
}

.service-box.violet {
  background-color: #1a1a1e;
}

.service-box.yellow {
  background-color: #1a1a1e;
}

/* Hover effects */
.service-box.blue:hover {
  background-color: #8ed1fc;
  border-color: white;
}

.service-box.violet:hover {
  background-color: #9b51e0;
  border-color: white;
}

.service-box.yellow:hover {
  background-color: #fcb900;
  border-color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .service-boxes {
    flex-direction: column; /* Stack boxes vertically */
    align-items: center; /* Center align the boxes */
  }
  .service-box {
    width: 100%; /* Make boxes take full width */
    max-width: 300px; /* Maintain max-width */
  }
}
