/* src/components/StatsSection.css */
.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  .stat-item {
    flex: 1;
    text-align: center;
  }
  
  .divider {
    width: 1px;
    background-color: white;
    height: 100px;
    margin: 0 20px;
  }
  
  @media (max-width: 768px) {
    .stats-section {
      flex-direction: column;
    }
  
    .divider {
      height: 1px;
      width: 80%;
      margin: 20px 0;
    }
  }
  