.form-section {
    background-color: #121212;
    color: #fff;
    padding: 20px;
    padding-top: 82px;
  }
  
  .form-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-container h1,
  .form-container h2,
  .form-container p {
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="tel"],
  .form-container select {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .form-container label {
    margin-bottom: 5px;
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
  }
  
  .checkbox-group label {
    margin-bottom: 5px;
  }
  
  .form-container input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .form-container button {
    padding: 10px;
    background-color: #15a8c2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  
  .form-container input[type="text"]::placeholder,
  .form-container input[type="email"]::placeholder,
  .form-container input[type="tel"]::placeholder {
    color: #888;
  }
  