.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateY(0);
  background-color: rgba(10, 10, 10, 0.8); /* Translucent background */
  backdrop-filter: blur(5px); /* Optional blur effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

.navbar-container.hidden {
  transform: translateY(-100%); /* Hide navbar */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 30px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  width: 200px;
  text-align: left;
}

.nav-item:hover .dropdown,
.dropdown:hover {
  display: block;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.button {
  padding: 5px 10px;
  background-color: #f5f5f5;
  color: rgb(8, 75, 143);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  margin-left: 10px;
}

.button:hover {
  background-color: #0a5b8b;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  padding: 5px 20px;
  margin: 0 auto;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.top-bar-left span {
  font-size: 14px;
}

.top-bar-right button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  text-decoration: underline;
}

.top-bar-right button:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar {
    padding: 10px 40px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 10px 60px;
  }
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    padding: 10px;
  }

  .top-bar-left,
  .top-bar-right {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
  }

  .top-bar-right button {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .top-bar {
    padding: 5px 10px;
  }

  .top-bar-left span {
    font-size: 12px;
  }

  .top-bar-right button {
    font-size: 12px;
  }
}
