.all-blogs-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    padding-top: 92px;
    background-color: #9118e7;
  }
  
  .blogs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.pagination button {
    padding: 8px 16px;
    border: none;
    background-color: #fb8200;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 8px;
}

.pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.pagination p {
    margin: 0;
    font-size: 16px;
}
  
  /* Media queries for responsiveness */
  @media (max-width: 1024px) {
    .blogs-grid {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 768px) {
    .all-blogs-container {
      padding: 16px;
    }
  
    .pagination button {
      width: 100%;
    }
  }
  