@tailwind base; 
@tailwind components; 
@tailwind utilities;


.blog-card {
  @apply border border-gray-300 rounded-lg overflow-hidden m-4 shadow-md transition-transform duration-200 bg-white w-[calc(31.333%-12px)] hover:-translate-y-1;
  @apply w-full;
  @screen md {
   
  }
}
  
  .blog-image {
    @apply w-full h-auto;
  }
  
  .blog-content {
    @apply p-4;
  }
  
  .blog-category {
    @apply text-gray-500 text-sm mb-2;
  }
  
/* Define custom keyframes for animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Keyframe Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Footer Styling starts */
/* Footer Styling starts */
.footer-container {
    @apply relative w-full flex flex-col items-center;
}

.footer {
    @apply bg-black text-white py-5 px-10 text-center w-full;
    animation: fadeIn 1s ease-in-out forwards;
}

.footer-top {
    @apply mb-5 max-w-[1200px] w-full;
    animation: fadeIn 1.5s ease-in-out forwards;
    margin-left: 65px; 
}

.footer-top h1 {
    @apply text-3xl m-0;
}

.demo-button {
    @apply py-2 px-5 bg-custom-purple text-white cursor-pointer mt-3;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.footer-middle {
    @apply flex flex-row justify-between items-start flex-wrap w-full max-w-[1200px] mb-5;
    animation: fadeIn 2s ease-in-out forwards;
}

.footer-address {
    @apply text-left w-[30%];
    margin-left: 20px; /* Adjust this value to move it further right */
    animation: slideIn 1.5s ease-in-out 0.3s forwards;
}

.footer-address img {
    @apply w-5 h-auto mr-2 align-top;
}

.footer-form {
    @apply w-[30%];
    position: relative;
    left: 140px; /* Adjust this value to move the form further right */
    animation: slideIn 1.5s ease-in-out 0.3s forwards;
}

.footer-form form {
    @apply flex flex-col items-start;
}

.footer-form label {
    @apply mb-2 w-full flex items-center; /* Use `items-center` to align vertically */
}

.footer-form input {
    @apply p-1 w-[60%] rounded-md  ml-auto;
    /* Smaller left margin to control spacing */
}

.subscribe-button {
    @apply py-3 px-3 bg-green-600 border-none text-white cursor-pointer self-start rounded-md;
    margin-left: 200px; /* Moves button to the right and makes it fully rounded */
    animation: fadeIn 1.8s ease-in-out forwards;
}


.footer-bottom {
    @apply mt-5 border-t border-gray-800 pt-5 w-full;
    animation: fadeIn 2s ease-in-out forwards;
    text-align: center;
}

.footer-nav {
    @apply flex justify-center flex-wrap;
    animation: fadeIn 1.7s ease-in-out forwards;
}

.footer-nav a {
    @apply text-gray-400 mx-2 my-1 no-underline;
}

.footer-nav a:hover {
    @apply underline;
}

.footer-social {
    @apply flex justify-center my-2;
    margin-top: 20px; /* Adjust this value to move it further down */
    animation: fadeIn 1.5s ease-in-out forwards;
}


.footer-social a {
    @apply mx-2;
    margin-top: 11px;
}

.footer-social img {
    @apply w-5 h-auto;
}

.footer p {
    @apply my-2;
    animation: fadeIn 2.5s ease-in-out forwards;
}



/* Media Queries */
@media (max-width: 768px) {
    .footer-middle {
        @apply flex-col items-center;
        animation: fadeIn 1.5s ease-in-out forwards; /* Keep animation on load */
    }

    .footer-address,
    .footer-form {
        @apply w-full text-center;
    }

    .footer-form input {
        @apply w-full ml-0;
    }
}

@media (max-width: 480px) {
    .footer-top h1 {
        @apply text-1.5xl;
    }

    .demo-button {
        @apply w-full;
    }

    .footer-nav {
        @apply flex-col items-center;
    }

    .footer-nav a {
        @apply my-1;
    }

    .footer-social a {
        @apply mx-1.5;
    }
}

.blue-box-section {
    @apply text-center mt-5; /* Adjust spacing as needed */
}

.section-header {
    @apply text-2xl text-white; /* Example font size and color */
}

.blue-box {
    @apply bg-blue-600 text-white p-8 mt-5 mx-20; /* Padding inside the blue box and adjust margins */
}

.box-title {
    @apply text-lg font-bold; /* Example font size and weight */
}


/* This is the start for the custom section*/
.custom-section {
    @apply bg-[#006494] p-8 text-center text-white max-w-[2000px] mx-auto rounded-[20px];
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 110vh; /* Adjust as needed for vertical centering */
}

.custom-header-for-localization {
    @apply text-3xl leading-[1.2] mb-4;
}

.custom-text {
    @apply text-xl leading-[1.5] mb-4;
}

.custom-button {
    @apply bg-white text-[#9b51e0] border-none py-3 px-6 text-base cursor-pointer rounded-md mb-0.5;
}

.custom-button:hover {
    @apply bg-[#9b51e0] text-white;
}

.custom-image {
    @apply w-full h-auto mt-0.5 max-w-[1200px];
    margin-top: 20px; 
}


/* Media Queries */

@media (max-width: 1200px) {
    .custom-section {
        @apply p-6; /* Adjusted padding */
    }

    .custom-header-for-localization {
        @apply text-2xl; /* Adjusted font size */
    }

    .custom-text {
        @apply text-base; /* Adjusted font size */
    }

    .custom-image {
        @apply max-w-[1000px];
    }
}

@media (max-width: 992px) {
    .custom-section {
        @apply p-4; /* Adjusted padding */
    }

    .custom-header-for-localization {
        @apply text-xl; /* Adjusted font size */
    }

    .custom-text {
        @apply text-sm; /* Adjusted font size */
    }

    .custom-image {
        @apply max-w-[800px];
    }
}

@media (max-width: 768px) {
    .custom-section {
        @apply p-3; /* Adjusted padding */
    }

    .custom-header-for-localization {
        @apply text-lg; /* Adjusted font size */
    }

    .custom-text {
        @apply text-sm; /* Adjusted font size */
    }

    .custom-image {
        @apply max-w-[600px];
    }
}

@media (max-width: 576px) {
    .custom-section {
        @apply p-2; /* Adjusted padding */
    }

    .custom-header-for-localization {
        @apply text-xl; /* Adjusted font size */
    }

    .custom-text {
        @apply text-xs; /* Adjusted font size */
    }

    .custom-image {
        @apply max-w-[400px];
    }
}
/*This is the end for custom section*/


.hero-section {
    @apply text-center bg-gradient-to-b from-[#006494] to-[#000000] py-20 pt-[82px] text-white;
}

.title {
    @apply text-[3.5em] mb-2 text-[#00a6fb];
}
/* Add this to a global CSS file or inline if you have a global style */


.subtitle {
    @apply pt-6 text-[2em] mb-8 text-[rgb(238,232,232)];
}

.description {
    @apply mb-4;
}

.content-types {
    @apply grid grid-cols-5 gap-2 justify-center mb-8 mx-auto max-w-[1200px];
}

.content-button {
    @apply bg-transparent border border-[#505050] rounded-md text-white py-2 px-5 cursor-pointer w-full h-[40px];
}

.content-button:hover {
    @apply bg-[#5274e7];
}

.demo-button {
    @apply bg-[#8136b7] text-white border-none rounded-md py-3 px-8 cursor-pointer w-[150px] h-[50px] mt-5;
}

.demo-button:hover {
    @apply bg-[#5a009d];
}

/* Media Queries */
@media (max-width: 1200px) {
    .title {
        @apply text-[2.5em];
    }
    .content-types {
        @apply grid-cols-4; /* 4 buttons per row */
    }
}

@media (max-width: 768px) {
    .title {
        @apply text-[2em];
    }
    .subtitle {
        @apply text-[1.2em];
    }
    .content-types {
        @apply grid-cols-2; /* 2 buttons per row */
    }
    .content-button {
        @apply h-[35px] py-2 px-3; /* Adjusted fixed height */
    }
    .demo-button {
        @apply h-[45px] py-2 px-5; /* Adjusted fixed height */
    }
}

@media (max-width: 480px) {
    .title {
        @apply text-[1.5em];
    }
    .subtitle {
        @apply text-[1em];
    }
    .content-types {
        @apply grid-cols-1; /* 1 button per row */
    }
    .content-button {
        @apply h-[30px] py-1 px-2; /* Adjusted fixed height */
    }
    .demo-button {
        @apply h-[40px] py-1 px-4; /* Adjusted fixed height */
    }
}
.services-container {
    @apply p-8 text-center my-12 box-border;
}

.services-container h3 {
    @apply text-white; /* Default color */
}

.services-section {
    @apply mb-24; /* 6em */
}

.service-boxes {
    @apply flex flex-wrap justify-center gap-8 mt-8;
}

.service-box {
    @apply flex flex-col items-start relative w-[300px] h-auto p-8 rounded-lg transition-colors duration-300 ease-in-out transition-opacity duration-500 transform transition-transform duration-500 border border-white mb-4 box-border text-white opacity-0 translate-y-[50px];
}

.service-box-content {
    @apply flex flex-col items-start;
}

.service-box h4 {
    @apply m-0 mb-2 ml-2 text-left; /* Margin to the right of the image */
}

.service-box p {
    @apply m-2 ml-2 text-left; /* Margin below the heading */
}

/* Default colors */
.service-box.blue {
    @apply bg-[#1a1a1e];
}

.service-box.violet {
    @apply bg-[#1a1a1e];
}

.service-box.yellow {
    @apply bg-[#1a1a1e];
}

/* Hover effects */
.service-box.blue:hover {
    @apply bg-[#8ed1fc] border-white;
}

.service-box.violet:hover {
    @apply bg-[#9b51e0] border-white;
}

.service-box.yellow:hover {
    @apply bg-[#fcb900] border-white;
}

/* Media Queries */
@media (max-width: 768px) {
    .service-boxes {
        @apply flex-col items-center; /* Stack boxes vertically */
    }
    .service-box {
        @apply w-full max-w-[300px]; /* Make boxes take full width */
    }
}
.stats-section {
    @apply flex justify-center items-center bg-black text-white p-5;
}

.stat-item {
    @apply flex-1 text-center;
}

.divider {
    @apply w-px bg-white h-[100px] mx-5;
}

/* Media Queries */
@media (max-width: 768px) {
    .stats-section {
        @apply flex-col;
    }

    .divider {
        @apply h-px w-[80%] my-5;
    }
}
.services-section {
    @apply bg-gray-800 text-white py-12 px-5 text-center;
}

.services-title {
    @apply text-2xl mb-5 text-gray-300;
}

.services-content {
    @apply flex justify-between items-center flex-wrap;
}

.services-left {
    @apply flex-1 min-w-[300px] p-5;
}

.services-subtitle {
    @apply text-xl mb-5 text-[#9e4ed5];
}

.services-list {
    @apply list-none p-0 text-left;
}

.services-item {
    @apply text-base mb-2 flex items-center;
}

.checkmark {
    @apply text-[#9e4ed5] mr-2;
}

.demo-button {
    @apply bg-[#9e4ed5] text-white border-none py-2 px-4 text-base cursor-pointer rounded mt-5;
}

.services-right {
    @apply flex-1 min-w-[300px] p-5;
}

.services-image {
    @apply max-w-full h-auto;
}
.title-and-video-section {
    @apply pt-10 text-center mt-5; /* Padding top and margin top */
}

.section-title {
    @apply text-xl text-gray-200; /* Font size and color */
}

.video-container {
    @apply mt-5; /* Margin top */
}

.video-container iframe {
    @apply w-full max-w-[800px] h-[400px]; /* Width, max width, and height */
}
.video-title {
    @apply text-center pt-15 text-white; /* Padding top and color */
}

.video-container-youtube {
    @apply flex justify-center items-center mt-5 flex-wrap; /* Margin top and flex properties */
}

.video-youtube {
    @apply w-[350px] mx-5 mb-5 text-center cursor-pointer relative; /* Margin and width */
}

.video-youtube img {
    @apply w-full h-auto; /* Width and height */
}

.video-description {
    @apply mt-2; /* Margin top */
}

.play-icon {
    @apply absolute top-1/2 left-1/2 w-16 h-16 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none; /* Centering and size */
}

/* Media Query */
@media (max-width: 768px) {
    .video-youtube {
        @apply w-full; /* Full width on smaller screens */
    }
}

.modal {
    @apply hidden fixed z-[9999] pt-15 left-0 top-0 w-full h-full overflow-auto bg-black bg-opacity-40; /* Fixed positioning and background */
}

.modal-content {
    @apply bg-black p-2 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-[800px] shadow-lg; /* Centering and styles */
}

.close {
    @apply text-gray-400 text-2xl font-bold cursor-pointer absolute top-2 right-2; /* Positioning and styles */
}

.close:hover,
.close:focus {
    @apply text-black no-underline; /* Hover effects */
}
/* Navbar container */
.navbar-container {
    @apply fixed top-0 w-full z-50 transition-transform transition-colors;
    @apply transform translate-y-0 bg-black bg-opacity-80 backdrop-blur-md;
    top: -5px;
    background-color: #03567E;
    z-index: 1000;
    transition: background-color 0.3s ease;

    /* Ensure no padding on the right side */
    padding-right: 0;
}

/* Navbar container when scrolled */
.navbar-container.scrolled {
    background-color: black;
    @apply bg-opacity-80; /* Optional: adds some transparency to the black */
}

/* Hide navbar when scrolling down */
.navbar-container.hidden {
    @apply transform -translate-y-full;
}

/* Navbar styling */
.navbar {
    @apply flex items-center py-1 max-w-[1200px] mx-auto relative;
    /* grid-template-columns: 1fr auto 1fr; */


}

/* Left section */
.nav-left {
    @apply flex items-center;
    margin-left: 200px; /* Add space for the logo */
}

/* Center section with logo */
.nav-center {
    @apply absolute left-0 top-1/2 transform -translate-y-1/2;
    left: -110px;
}

.logo {
    @apply h-auto max-w-[200px] cursor-pointer;
    max-width: 3000px;
}

/* Right section */
.nav-right {
    @apply flex items-center justify-end ml-auto;
}

/* Navigation item */
.nav-item {
    @apply mx-8 text-white cursor-pointer relative text-lg rounded-lg p-3;
}

/* Add a container class for the logo if needed */
.logo-container {
    @apply flex items-center ml-0 pl-0;
}
/* Dropdown menu */
.dropdown {
    @apply absolute top-[40px] -left-10 bg-white bg-opacity-90 text-black shadow-lg z-50 hidden;
    @apply w-[200px] max-h-[400px] text-left overflow-y-auto rounded-lg; /* Increased width and max-height */
    @apply transition-all duration-150 ease-in-out;
}

/* Show dropdown when toggled */
.dropdown-show {
    @apply block; /* Show when active */
}

/* Dropdown items */
.dropdown-item {
    @apply block px-4 py-5 cursor-pointer whitespace-nowrap rounded-lg; /* Increased padding for dropdown items */
}

/* Dropdown item hover effect */
.dropdown-item:hover {
    @apply bg-gray-200;
}

/* Button styling */
.button {
    @apply flex justify-end;
    @apply px-8 py-1 bg-gray-200 text-[#084B8F] border-none cursor-pointer transition-colors text-sm ml-auto rounded-lg;
    @apply absolute ;
    right:-75px
}


/* Button hover effect */
.button:hover {
    @apply bg-[#0A5B8B];
}

/* Top bar section */
.top-bar {
    @apply flex justify-between items-center text-white px-5 mx-auto transition-transform transition-colors;
}

/* Top bar left side (company name) */
.top-bar-left {
    @apply transform translate-x-4 translate-y-6; 
}
/* Top bar left side (company name) */
.top-bar-left span {
    @apply text-sm; /* Added margin-top to move it down */
}

.top-bar-right {
    @apply relative; /* Make this container relative for positioning the button */
}
/* Top bar right side (language selector or other buttons) */
.top-bar-right button {
    @apply bg-transparent border-none text-white cursor-pointer text-sm p-0;
    position: relative;
    top: 12px;
}

/* Remove underline on hover */
.top-bar-right button:hover {
    @apply no-underline;
}

/* Responsive Styles */

/* For larger screens */
@media (min-width: 768px) {
    .navbar {
        @apply px-10; /* Keep padding for larger screens */
    }
}

@media (min-width: 1024px) {
    .navbar {
        @apply px-15; /* Keep padding for larger screens */
    }
}

/* For mobile screens */
@media (max-width: 768px) {
    .top-bar {
        @apply flex-col p-2; /* More compact top bar for smaller screens */
    }

    .top-bar-left, .top-bar-right {
        @apply flex justify-center w-full my-1;
    }

    .top-bar-right button {
        @apply text-xs; /* Smaller text size for mobile */
    }

    .dropdown {
        @apply w-full; /* Full-width dropdown on mobile */
    }
}


@media (max-width: 480px) {
    .top-bar {
        @apply p-1; /* Reduced padding */
    }

    .top-bar-left span {
        @apply text-xs; /* Smaller font size */
    }

    .top-bar-right button {
        @apply text-xs; /* Smaller font size */
    }
}
.all-blogs-container {
    @apply flex flex-col items-center p-8 pt-[92px] bg-[#9118e7]; /* Padding and background color */
}

.blogs-grid {
    @apply flex flex-wrap justify-center max-w-[1200px] mx-auto; /* Centering and max-width */
}

.pagination {
    @apply flex justify-center items-center mt-4; /* Margin on top */
}

.pagination button {
    @apply px-4 py-2 border-none bg-[#fb8200] text-white cursor-pointer rounded-md mx-2; /* Padding and styling */
}

.pagination button:disabled {
    @apply bg-gray-400 cursor-not-allowed; /* Styles for disabled button */
}

.pagination p {
    @apply m-0 text-lg; /* Margin and font size */
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .blogs-grid {
        @apply flex-col items-center; /* Stack items in column */
    }
}

@media (max-width: 768px) {
    .all-blogs-container {
        @apply p-4; /* Reduced padding */
    }

    .pagination button {
        @apply w-full; /* Full width buttons */
    }
}
.form-section {
    @apply bg-[#121212] text-white p-5 pt-[82px]; /* Background color and padding */
}

.form-container {
    @apply max-w-[600px] mx-auto; /* Max width and centering */
}

.form-container h1,
.form-container h2,
.form-container p {
    @apply text-center; /* Centered text */
}

.form-container form {
    @apply flex flex-col; /* Flexbox column layout */
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select {
    @apply p-2.5 mb-2.5 bg-[#333] border-none rounded-md text-white; /* Padding, margin, background, border, border-radius, and text color */
}

.form-container label {
    @apply mb-1.5; /* Margin bottom */
}

.checkbox-group {
    @apply flex flex-col; /* Flexbox column layout */
}

.checkbox-group label {
    @apply mb-1.5; /* Margin bottom */
}

.form-container input[type="checkbox"] {
    @apply mr-1.5; /* Margin right */
}

.form-container button {
    @apply p-2.5 bg-[#15a8c2] border-none rounded-md text-white cursor-pointer; /* Padding, background color, border, border-radius, text color, and cursor */
}

.form-container button:hover {
    @apply bg-[#45a049]; /* Background color on hover */
}

.form-container input[type="text"]::placeholder,
.form-container input[type="email"]::placeholder,
.form-container input[type="tel"]::placeholder {
    @apply text-[#888]; /* Placeholder color */
}
.App {
    @apply text-center bg-black min-h-screen; /* Text alignment, background color, and minimum height */

}
body {
    @apply m-0 font-sans antialiased; /* Reset margin, set font family, and apply antialiasing */
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

code {
    @apply font-mono; /* Set font family for code */
}

.press-release-container {
 @apply text-center bg-gradient-to-b from-[#006494] to-[#000000] py-20 pt-[82px] text-white;;
}

.hero-card {
  @apply bg-white text-black rounded-lg overflow-hidden mb-8;
}

.hero-content {
  @apply p-6 flex flex-col gap-8;
}

.hero-text {
  @apply flex-1;
}

.hero-title {
  @apply text-2xl font-bold mb-4;
}

.hero-description {
  @apply text-gray-600 text-sm;
}
.content-button.selected {
    background-color: #084b8f; /* Example selected background color */
    color: white;
  }
  

.partnership-box {
  @apply bg-black p-6 rounded-lg;
}

.partnership-title {
  @apply text-white text-center mb-4;
}

.logo-container {
  @apply flex items-center justify-center gap-4;
}

.logo {
  @apply w-24;
}

.logo img {
  @apply w-full;
}

.divider {
  @apply h-12 w-px bg-white my-4;
}

.main-container {
    @apply w-full h-screen grid grid-cols-[1fr_1fr] gap-12; /* Two columns layout */
}

.main-content {
    @apply col-span-1 pl-20 pr-0; /* Add padding-left and padding-right */
}
.content-title {
    @apply text-3xl font-bold mb-6; /* Title styling */
}

.content-text {
    @apply text-gray-300 text-lg leading-relaxed mb-4 text-left; /* Improved readability with line height and margin */
}

.sidebar {
    @apply bg-white rounded-lg p-8 text-center shadow-lg w-min h-40 lg:w-80; /* Sidebar styling with padding */
    @apply col-span-1 lg:col-start-2; /* Sidebar takes the second column in larger screens */
    @apply mx-auto flex flex-col items-center; /* Center the sidebar horizontally and align items in the center */
}

.sidebar-content {
    @apply w-full; /* Ensure sidebar content takes full width */
}

.sidebar-description {
    @apply text-gray-600 mb-4; /* Description styling */
}

.demo-button {
    @apply bg-purple-600 text-white py-2 px-6 rounded-lg transition duration-300 ease-in-out hover:bg-purple-500; /* Button styling */
    @apply mt-2; /* Margin top to separate it from the description */
}
.paragraph {
    @apply text-gray-300 mb-4; /* Add margin-bottom for spacing between paragraphs */
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .press-release-container {
    @apply p-8;
  }

  .hero-content {
    @apply flex-row;
  }

  .hero-title {
    @apply text-3xl;
  }

  .hero-description {
    @apply text-base;
  }

  .partnership-box {
    @apply w-1/3;
  }

  .main-content {
    @apply grid-cols-2;
  }

  .content-title {
    @apply text-3xl;
  }
}

/* CommunityPage.css */

/* Custom styles for the community page */
.community-page-container {
    @apply w-full h-auto px-4 py-8; /* Responsive container with padding */
}

.custom-svg {
    @apply w-full h-auto; /* Makes the SVG responsive */
}

.fill-blue {
    @apply fill-[#03567E]; /* Applies the blue fill */
}

.fill-yellow {
    @apply fill-[#ffca05]; /* Applies the yellow fill */
}

.stroke-rounded {
    stroke-width: 2px;
    stroke-linecap: round; /* Manually define stroke-linecap */
}

.stroke-dash {
    stroke-dasharray: 6.06 5.05; /* Dashed line styling */
}

/* Custom gradient background */
@layer utilities {
    .bg-community-gradient {
        background: linear-gradient(180deg, #006494, #000000); /* Gradient from top (blue) to bottom (black) */
    }
}

/* Community page */
.community-container {
    @apply w-full min-h-screen flex flex-col items-center bg-community-gradient; /* Responsive height */
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0
}

.community-title {
    @apply text-3xl md:text-4xl font-bold text-center text-[#094366] mb-4;
    margin-top: 20px; /* Adjust top margin as needed */
}

.community-grid {
    @apply grid gap-6 md:grid-cols-1 lg:grid-cols-1 w-full; /* Responsive grid layout */
    @apply flex flex-col items-center;
    margin-top: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.community-card {
    @apply flex flex-col items-center p-4 rounded-lg;
    margin-bottom: 20px;
}

.community-card-title {
    @apply text-2xl font-semibold text-white;
}

.community-card-description {
    @apply text-gray-600 mt-2 text-white;
}

.community-button {
    @apply bg-[#5CE6EA] text-black py-4 px-6 text-lg rounded-full hover:bg-blue-600 transition min-w-[200px] flex items-center justify-center leading-tight mt-4;
}

.cc1 {
    @apply absolute left-[17.29%] right-[77.19%] top-[16.87%] bottom-[74.63%] bg-white border-2 border-[#0AB2E0] rounded-full w-20 h-20 flex items-center justify-center overflow-hidden;
}

.cc2 {
    @apply absolute left-[36%] top-[300px]; /* Example position for cc2 */
}


.curved-line {
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 10, 6; /* Dash and gap pattern */
    stroke-dashoffset: 1000; /* Large offset initially */
    animation: drawDashedLine 3s linear forwards; /* Run once and retain final state */
    animation-fill-mode: forwards; /* Retain end position */
}

@keyframes drawDashedLine {
    0% {
        stroke-dashoffset: 1000;
        opacity: 0;
    }
    10% {
        opacity: 1; /* Fade in */
    }
    100% {
        stroke-dashoffset: 0; /* Complete line */
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.circle-container {
    opacity: 0;
    transform: scale(0.5);
    border-color: white;
}

.circle-container.animate {
    animation: popIn 0.6s ease-out forwards;
    animation-delay: 0.2s; /* Slight delay for smoother appearance */
}

/* Common callout styling */
.callout {
    @apply absolute p-2 rounded-md text-center text-sm w-36 transition-opacity duration-300 opacity-0 shadow-lg;
}

/* Individual callout styles with Orange Background and Arrow */
.callout-cc1 {
    @apply relative top-[-20px] left-10 bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc1::after {
    content: '';
    position: absolute;
    top: 100%; /* Positions the pointer below the box */
    left: 20px; /* Adjust this to move the pointer horizontally */
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc2 {
    @apply top-[-20px] left-10 bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc2::after {
    content: '';
    position: absolute;
    top: 100%; /* Positions the pointer below the box */
    left: 20px; /* Adjust this to move the pointer horizontally */
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent; /* Use Tailwind orange-500 color */
}

.callout-cc3 {
    @apply top-[-20px] left-10 bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc3::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc4 {
    @apply top-[-25px] left-[30px] bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc4::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc5 {
    @apply top-[-20px] left-[35px] bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc5::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc6 {
    @apply top-[-25px] left-[15px] bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc6::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc7 {
    @apply top-[-25px] left-[25px] bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc7::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc8 {
    @apply top-[-24px] left-[20px] bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc8::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc9 {
    @apply top-[-24px] left-[20px] bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc9::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}

.callout-cc10 {
    @apply top-[-24px] left-[23px] bg-[#5CE6EA] text-black p-4 rounded-lg;
}
.callout-cc10::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #5CE6EA transparent transparent transparent;
}


/* Community HeroPage Component Styling */

.cmhero-container {
    @apply bg-blue-900 flex items-center justify-center h-screen;
  }
  
  .cmhero-content {
    @apply text-center p-8;
  }
  
  .cmhero-title {
    @apply text-4xl font-bold text-white;
  }
  